<% @meta_title="Peegin - The Official Pidgin Dictionary" %>
<% @meta_description="Peegin Dictionary - Is a pidgin english dictionary and translator. Where anyone can define the meaning of any word without hassle." %>


<section class="container all-peegin">

  <%= render 'layouts/side_bar' %>


  <% if @droid %>
  <%else%>
  <div class="col-xs-12 hidden-md hidden-lg">
    <%= render 'layouts/helper_tag' %>
  </div>
  <%end%>

  <div id="peegin">
    <%= render @peegin %>
  </div>

<!-- floating button -->
<% if @browser.opera_mini?%>

  <% else %>
    <%= render 'layouts/lol' %>
<% end %>

</section>
<% if @browser.opera_mini? %>
  <%=will_paginate @peegin, inner_window:1,renderer: BootstrapPagination::Rails %>
<% else %>
<section class="container">
  <div id="infinite-scrolling">
    <%=will_paginate @peegin %>
  </div>
<% end %>
</section>
