
<section class="container all-peegin">

  <div class="col-md-4 hidden-xs col-sm-4 pull-right"> 
    

    <div class="panel panel-default side-panel">
      <div class="panel-body ">
        <h1 class="side-bar" id="side" >PEEGIN ENGLISH</h1><br>
        <h1 class="side-bar" id="side" >DICTIONARY</h1><br>
        <h1 class="side-bar" id="side" >IS DEFINED</h1><br>
        <h1 class="side-bar" id="side" >BY YOU</h1><br>
        <div>
          <button type="button" class="btn btn-default create-peegin">
          <%= link_to new_peegin_path  do %>
            <%= image_tag "add.png", class: "btn1", height: "30px", width: "30px" %>
            
              <span style="color: #FAD93D !important;">Define a new Peegin</span>
            
            <% end %>
          </button>
        </div>
        
      </div>  
    </div>



  </div>



    <%@peegin.each do |peegin|%>
  <div class="col-sm-8">


    <div class="panel panel-default peegined">
      <div class="panel-body">
        <p class="pull-right"> <%= link_to 'Edit', edit_peegin_path(peegin) %> | <%= link_to 'Delete', peegin, method: :delete, data: { confirm: 'Are you sure you want to delet this Peegin?' }%> </p>
        <%= link_to peegin do %>
        <h1 class="titled" style="color:#182634">
          <%=peegin.title %>
        </h1>
        <%end%>
        <br>
        <br>
        <p class="described">
        <%= peegin.meaning %>
        </p>
        <br>
        <p class="exampled">
        <%=peegin.example%>
        </p>
        <br>
        <strong>By <a href="#">AMANi</a></strong>
        <br>
        <br>
        <ul class="hate">
         <li class="haterz"> 
         <%= link_to "#" do%>
         <%= image_tag "thumbs_up", height: "25px", width: "26px" %>

         <% end %>
         <span class="score">289</span></a></li>
          <li class="haterz"><%= link_to "#" do%>
         <%= image_tag "thumbs_down", height: "25px", width: "26px" %>

         <% end %><span class="score">28</span></a></li>
        </ul>

        <ul class="socialed">
          <li class="socialed">
          <%= link_to "#" do%>
          <%= image_tag "twitter.png", height: "25px", width: "31px" %>
          <%end%>
          </li>
          <li class="socialed">
            <%= link_to "#" do%>
            <%= image_tag "facebook.png", height: "25px", width: "14px" %>
             <%end%>
          </li>
        </ul>
      </div>

   

    </div>
  </div>

  <%end%> 
</section>

