<% @meta_title="Peegin Dictionary" %>
<% @meta_description="Peegin Dictionary - Is a pidgin english dictionary and translator. Where anyone can define the meaning of any word without hassle." %>


<section class="container all-peegin">

  <%= render 'layouts/side_bar' %>

  <div class="col-xs-12 hidden-md hidden-lg">
    <%= render 'layouts/helper_tag' %>
  </div>

  <div id="peegin">
    <%= render @peegin %>
  </div>

<!-- floating button -->
  <div id="container-floating">
    <%= link_to @lol do %>
      <div id="floating-button" >
        <p class="plus"><%= image_tag "Laugh.png" , height: "45px", width: "50px"%></p>
      </div>
    <%end%>
  </div>


</section>

<section class="container">
  <div id="infinite-scrolling">
    <%=will_paginate @peegin %>
  </div>

</section>
