<section class="container all-peegin">

  <%= render 'layouts/side_bar' %>

<div class="col-md-8 col-sm-12 col-xs-12">

  <div class="panel panel-default side-panel btn-nu" id="close-it">
    <div class="panel-body ">
      <%= link_to new_peegin_path  do %>
          <div class="helper-b ed-btn">
              <i class="fa fa-pencil-square-o fa-2x btn1 ed"></i> <div class="nu-ad"style="color: #FAD93D !important;">Add Your Own Word</div>
          </div>
      <% end %>
      <% if @browser.opera_mini?%>
          <%= link_to @lol do %>
              <div class="helper-b ed-btn opera-mini">
                  <i class="fa fa-random fa-2x btn1 ed"></i> <div class="nu-ad"style="color: #FAD93D !important;">Shuffle Word</div>
              </div>
          <% end %>
          <% end %>

    </div>
  </div>


    <div class="panel panel-default peegined <%= controller_name %> <%= action_name %>">
      <div class="panel-body">
        <% if @peegin.user == current_user || current_user.try(:admin?) %>
        <p class="pull-right"> <%= link_to 'Edit', edit_peegin_path(@peegin) %> | <%= link_to 'Delete', @peegin, method: :delete, data: { confirm: 'Are you sure?' } %> </p>
        <% end %>
        <h1 class="titled">
          <%=@peegin.title %>
        </h1>
        <br>
        <br>
        <strong>Meaning</strong>
        <p class="described">
        <%=simple_format(@peegin.meaning) %>
        </p>
        <br>
        <strong>Example</strong>
        <p class="exampled">
          <i>
        <%=simple_format(@peegin.example)%>
          </i>
        </p>
        <br>
        <p class="exampled">
          <%if @peegin.synonyms?%>
          <strong>Synonyms:</strong>
        <%=@peegin.synonyms.split(/\W+/).to_s%>
        </p>
        <%end%>
        <br>
        <% if @peegin.origin? %>
        <p class="origin">
         <%="Origin: #{@peegin.origin}"%>
        </p>
        <% end %>
        <br>
        <br>
        <% if @peegin.user %>
          <%= link_to userpeegins_peegin_path(@peegin.user) do %>
             <span style="color:#182634"><strong>By <span style="color:#02a882"> <%= @peegin.user.name if @peegin.user%></span> <%= @peegin.created_at.strftime( "%B %e, %Y")%></strong></span>
          <% end %>
        <% end %>
        <br>
        <br>
        <ul class="hate">
           <li class="haterz">
             <%= link_to like_peegin_path(@peegin), method: :put do%>
             <i class="fa fa-thumbs-up fa-2x ic"></i>
             <span class="score"><%= @peegin.get_upvotes.size %></span>
             <% end %>
           </li>
            <li class="haterz">
              <%= link_to dislike_peegin_path(@peegin), method: :put do%>
                <i class="fa fa-thumbs-down fa-2x ic"></i>
             <span class="score"><%= @peegin.get_downvotes.size %></span>
             <% end %>
          </li>
          <li class="haterz views">
            <%= "#{@peegin.impressionist_count} Views" %>
          </li>
        </ul>
        <ul class="socialed">
          <li class="socialed">
            <% if @peegin.user == current_user %>
            <%= social_share_button_tag("I just add the meaning of \'#{@peegin.title}' inside Peegin Dictionary, go add your own pidgin", :image => ("https://www.dropbox.com/s/8t3kfr23pkb2a5k/FB-Cover.jpg"), via: "Peegin_") %>
            <%else%>
            <%= social_share_button_tag("Oya make you go check out weytin  \'#{@peegin.title}' mean for Peegin Dictionary", :image => ("https://www.dropbox.com/s/8t3kfr23pkb2a5k/FB-Cover.jpg"), via: "Peegin_") %>
          <% end %>
          </li>

        </ul>
      </div>
    </div>
</div>

<% if @browser.opera_mini?%>

  <% else %>
  <%= render 'layouts/lol' %>
  </div>

<%end%>



</section>
