<% if @browser.device.mobile? %>
    <%= render '/layouts/popup' %>    
<% end %>

<section  data-turbolinks="false"


<% if @droid %>
  <%else%>
    class="container all-peegin"
  <%end%>


  >

  <%= render 'layouts/side_bar' %>

<div class="col-md-6 col-sm-12 col-xs-12">

  <% if @droid %>
    <%else%>
        <div class="side-panel btn-nu">
            <%= link_to new_peegin_path  do %>
                <div class="helper-b ed-btn">
                    <i class="fa fa-pencil-square-o fa-2x btn1 ed"></i> <div class="nu-ad"style="color: #FAD93D !important;">Add Your Own Word</div>
                </div>
            <% end %>
            <% if @browser.opera_mini?%>
                <%= link_to @lol do %>
                    <div class="helper-b ed-btn opera-mini">
                        <i class="fa fa-random fa-2x btn1 ed"></i> <div class="nu-ad"style="color: #FAD93D !important;">Shuffle Word</div>
                    </div>
                <% end %>
                <% end %>
        </div>
      <%end%>


    <div class="panel panel-default peegined <%= controller_name %> <%= action_name %>">
      <div class="panel-body">
        <% if @peegin.user == current_user || current_user.try(:admin?) %>
        <p class="pull-right"> <%= link_to 'Edit', edit_peegin_path(@peegin) %> | <%= link_to 'Delete', @peegin, method: :delete, data: { confirm: 'Are you sure?' } %> </p>
        <% end %>
        <% if @droid %>
          <%else%>
            <%= link_to root_path do%>
              <span class="fa fa-angle-left"> Back</span>
            <% end %>
          <br>
          <br>
        <%end%>
          <h1 class="titled">
            <%=@peegin.title %>
          </h1>
        <br>
        <br>
        <strong>Meaning</strong>
        <p class="described">
        <%=simple_format(@peegin.meaning) %>
        </p>
        <br>
        <strong>Example</strong>
        <p class="exampled">
          <i>
        <%=simple_format(@peegin.example)%>
          </i>
        </p>
        <br>
        <p class="exampled">
          <%if @peegin.synonyms?%>
          <strong>Synonyms:</strong>
        <%=@peegin.synonyms.split(',').to_s%>
        </p>
        <%end%>
        <br>
        <% if @peegin.origin? %>
        <p class="origin">
         <%="Origin: #{@peegin.origin}"%>
        </p>
        <% end %>
        <br>
        <br>

        <% if @peegin.user %>
          <%= link_to userpeegins_peegin_path(@peegin.user) do %>
             <span style="color:#182634"><strong>By <span style="color:#28E2B7"> <%= @peegin.user.name if @peegin.user%></span> <%= @peegin.created_at.strftime( "%B %e, %Y")%></strong></span>
          <% end %>
        <% end %>
        <br>
        <br>
        <ul class="hate">
          <% if @droid %>

            <%else%>
               <li class="haterz" style="margin-top:3px;">
                 <%= link_to like_peegin_path(@peegin), method: :put do%>
                 <span style="color:#E85284" class="fa fa-heart"></span>
                 <span class="score"><i><%= @peegin.get_upvotes.size %></i></span>
                 <% end %>
               </li>
              <%end%>
          <li class="haterz views">
            <%= "#{@peegin.impressionist_count} Views" %>
          </li>
        </ul>

        <% if @droid %>
          <%else%>
            <ul class="socialed">
              <li class="socialed">
                <% if @peegin.user == current_user %>
                <%= social_share_button_tag("I just add the meaning of \'#{@peegin.title}' inside Peegin Dictionary, go add your own pidgin", :image => ("https://www.dropbox.com/s/8t3kfr23pkb2a5k/FB-Cover.jpg"), via: "Peegin_") %>
                <%else%>
                <%= social_share_button_tag("Oya make you go check out weytin  \'#{@peegin.title}' mean for Peegin Dictionary", :image => ("https://www.dropbox.com/s/8t3kfr23pkb2a5k/FB-Cover.jpg"), via: "Peegin_") %>
              <% end %>
              </li>

            </ul>
        <%end%>
      </div>
    </div>
</div>

<%= render 'layouts/side_bar_new' %>

<% if @browser.opera_mini?%>

  <% else %>
  <%= render 'layouts/lol' %>
  </div>

<%end%>



</section>
