<% @meta_title="#{@user.name}\'s - Peegins" %>
<% @meta_description="Peegin Dictionary - Is a pidgin english dictionary and translator. Where anyone can define the meaning of any word without hassle." %>


<section class="container all-peegin">

  <%= render 'layouts/side_bar' %>
  <div class="col-md-8 col-sm-12 col-xs-12">

  <% @all_user_peegin.each do |peegin| %>

    <div class="panel panel-default peegined">
      <div class="panel-body">
        <% if peegin.user == current_user || current_user.try(:admin?) %>
        <p class="pull-right"> <%= link_to 'Edit', edit_peegin_path(peegin) %> | <%= link_to 'Delete', peegin, method: :delete, data: { confirm: 'Are you sure?' } %> </p>
        <% end %>
          <%= link_to peegin do %>
          <h1 class="titled" style="color:#182634">
            <%=peegin.title %>
          </h1>
          <%end%>
        <br>
        <br>
        <strong>Meaning</strong>
        <p class="described">
        <%=simple_format(peegin.meaning) %>
        </p>
        <br>
        <strong>Example</strong>
        <p class="exampled">
          <i>
        <%=simple_format(peegin.example)%>
          </i>
        </p>
        <br>
        <% if peegin.origin? %>
        <p class="origin">
         <%="Origin: #{peegin.origin}"%>
        </p>
        <% end %>
        <br>
        <br>
          <span style="color:#182634"><strong>By <span style="color:#02a882"> <%= peegin.user.name if peegin.user %></span> <%= peegin.created_at.strftime( "%B %e, %Y")%></strong></span>
        <br>
        <br>
        <ul class="hate">
           <li class="haterz">
             <%= link_to like_peegin_path(peegin), method: :put do%>
            <i class="fa fa-thumbs-up fa-2x ic"></i>
             <span class="score"><%= peegin.get_upvotes.size %></span>
             <% end %>
           </li>
            <li class="haterz">
              <%= link_to dislike_peegin_path(peegin), method: :put do%>
              <i class="fa fa-thumbs-down fa-2x ic"></i>
             <span class="score"><%= peegin.get_downvotes.size %></span>
             <% end %>
          </li>

          <li class="haterz views">
            <%= "#{peegin.impressionist_count} Views" %>
          </li>
        </ul>
        <ul class="socialed">

          <li class="socialed">
            <% if peegin.user == current_user %>
            <%= social_share_button_tag("I just add the meaning of \'#{peegin.title}' inside Peegin Dictionary, go add your own pidgin", :url => "http://peegin.com#{peegin_path(peegin)}", :image => ("https://www.dropbox.com/s/8t3kfr23pkb2a5k/FB-Cover.jpg"), via: "Peegin_") %>
            <%else%>
            <%= social_share_button_tag("Oya make you go check out weytin \'#{peegin.title}' mean for Peegin Dictionary", :url => "http://peegin.com#{peegin_path(peegin)}", :image => ("https://www.dropbox.com/s/8t3kfr23pkb2a5k/FB-Cover.jpg"), via: "Peegin_") %>
          <% end %>
          </li>
          <li class="socialed">

          </li>
        </ul>

      </div>
    </div>
    <% end %>
<% if @browser.opera_mini?%>

<% else %>
    <div id="container-floating">
          <%= link_to @usered do %>
            <div id="floating-button" >
                <p class="plus"><i class="fa fa-random fa-2x"></i></p>
            </div>
        <%end%>
<% end %>
    </div>
</div>
</section>
