<section class="container all-peegin">
  <h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Reset password", class: "btn btn-primary" %>
  </div>
<% end %>
<p class="devise-share">
    <%= link_to('Login', new_user_session_path)  %> | <%= link_to 'Register', new_user_registration_path %>
</p>
</section>
