<% @meta_title="Peegin - Login" %>
<% @meta_description="Peegin Dictionary" %>


<section class="container all-peegin">
  <div class="col-md-12 formed">
    <div class="panel panel-default peegined">
      <div class="panel-body">

        <br>
        <%= link_to user_facebook_omniauth_authorize_path  do %>
          <div class="helper-b btn2">
            <i class="fa fa-facebook" style="font-size:20px;"></i> <span> Sign In With Facebook</span>
          </div>
        <%end%>
        <br>
        <br>
        <h2 style="text-align: center;">Or</h2>
        <hr>
        <h2>Log in</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: false %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions ok">
            <%= f.submit "Log in", class: "btn btn-primary" %>
          </div>
        <% end %>
        <p class="devise-share">
      <%= link_to('Register', new_user_registration_path)  %> | <%= link_to "Forgot your password?", new_password_path(:user) %>
        </p>
      </div>
    </div>
  </div>
</section>
