<div>
  <b>Name:</b> <%=@contact.name%><br>
  <b>Phone:</b> <%=@contact.phone%><br>
  <b>Email:</b> <%=@contact.email%><br>
  <b>Interest:</b> <%=@contact.interest%> <br>
  <b>Project Description:</b><br><%=@contact.project_description%>
</div>
