<div class="navbared navbar-default navbar-fixed-top <%= controller_name %> <%= action_name %>">

  <div class="container">
    <nav class="row">
      <div class="col-md-10 hidden-xs hidden-sm">
          <%= link_to root_path do %>
      		<%= image_tag "logo.png" , class: "brand"%>
      		<% end %>

        <div class="input-group navbar-search">
          <%= form_tag search_peegins_path, method: :get, role: "search" do %>
               <span class="input-group-btn">
                 <%= text_field_tag :search, params[:search], class: "form-control search-pad", placeholder: "Search for a Pidgin...like \'Epp' or a simple English Word like \'Help'" %>
                 <%= button_tag( :class => "btn btn-default search-margin") do %>
                <span class="glyphicon glyphicon-search" aria-hidden="true"> </span>
                <% end %>
              </span>
          <% end %>
        </div><!-- /input-group -->
    </div>
          <!-- mobile -->
          <div class="col-xs-12 hidden-md hidden-lg">
            <div class="ui-mobile">

              <%= link_to  "#", class: "btns ui-mobile dropdown-toggle pull-right", "data-toggle"=>"dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false" do %>
                <%= image_tag "user.png" , height: "30px", width: "30px"%>
                <ul class="dropdown-menu mobile-drop" role="menu">
                  <% if current_user.admin? %>
                    <li> <%=link_to "Search Analystics", searchjoy_path%> </li>
                  <% end %>
                  <% if current_user.peegins.present? %>
                  <li> <%= link_to "My Peegins", userpeegins_peegin_path(current_user)%> </li>
                  <%end%>
                  <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
                  <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                  <li>Logged in as <strong><%= current_user.name %></strong>.</li>
                </ul>
              <% end %>



              <%= link_to new_peegin_path, class: "btns ui-mobile" do %>
                <%= image_tag "add.png" , height: "30px", width: "30px"%>
              <% end %>

            </div>

	          <%= link_to root_path do %>
				<%= image_tag "logo.png" , class: "brand-mobile" , height: "30px", width: "126px" %>
				<% end %>

             <div class="input-group navbar-search search-mobile">
               <%= form_tag search_peegins_path, method: :get, role: "search" do %>
                  <span class="input-group-btn">
                      <%= text_field_tag :search, params[:search], class: "form-control search-pad", placeholder: "Search for an English word like \'Help' " %>
                      <%= button_tag( :class => "btn btn-default search-margin") do %>
                     <span class="glyphicon glyphicon-search" aria-hidden="true"> </span>
                     <% end %>
                   </span>
               <% end %>
              </div><!-- /input-group -->

         </div>


      <div class="col-md-2 hidden-xs hidden-sm">
      <span class ="btns navbar-right" >
        <%= link_to "#", class: "dropdown-toggle", "data-toggle"=>"dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false" do %>
         <%= image_tag "user.png" , height: "42px", width: "42px"%>
         <ul class="dropdown-menu" role="menu">
           <li>Logged in as <strong><%= current_user.name %></strong></li>
           <% if current_user.admin? %>
             <li> <%=link_to "Search Analystics", "/searchjoy/searches/overview?search_type=Peegin"%> </li>
           <% end %>
           <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
            <% if current_user.peegins.present? %>
            <li> <%= link_to "My Peegins", userpeegins_peegin_path(current_user)%> </li>
            <%end%>
           <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
         </ul>
        <% end %>

      </span>


  <span class="btns navbar-right">

    <%= link_to new_peegin_path do %>
      <%= image_tag "add.png" , height: "42px", width: "42px"%>
    <% end %>
  </span>


      </div>
    </nav>

  </div>

</div>
