<!DOCTYPE html>
<html>
<head>

  <title><%=@meta_title%></title>
  <meta name="description" content="<%=@meta_description%>">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

  <% flash.each do |key, value| %>
<div class="alert alert-<%= key %> alert-dismissible container altered">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= value %>
 </div>
<% end %>

<%= yield %>

<% if user_signed_in? %>
  <%= render '/layouts/nav_user' %>
<% else %>
  <%= render '/layouts/nav_guest' %>
<% end %>


</body>
</html>
